<h1 class="title-home">Productos</h1>
<a href="" id="cerrarSesion">Cerrar Sesion</a>
<p>Bienvenido {{nombre}} {{apellido}}</p>
<p>Usuario: {{user}}</p>
<p>Mail: {{mail}}</p>
<p>Rol: {{rol}}</p>
<div class="container-products">
    {{#each products}}
    <p>producto: {{this.title}}</p>
    <p>descripcion: {{this.description}}</p>
    <p>precio: {{this.price}}</p>
    <p>imagen: {{this.thumbnails}}</p>
    <p>codigo: {{this.code}}</p>
    <p>stock: {{this.stock}}</p>
    <p>categoria: {{this.Category}}</p>
    <button type="button" onclick="addToCart('{{this._id}}')">agregar al carrito</button>
    <br>
    {{/each}}
</div>
{{#if hasPrevPage}}
    <a href="/api/products?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="/api/products?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}
</div>